<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tranthuhoan.foodstore">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.activities.customer.CustomerFoodViewAllActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.customer.CustomerViewProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.customer.CustomerMenuActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.customer.CustomerLoginActivity"
            android:exported="false" />
        <activity
            android:name=".manager.customer.AdminCustomerViewProfileActivity"
            android:exported="false" />
        <activity
            android:name=".manager.customer.AdminCustomerViewAllActivity"
            android:exported="false" />
        <activity
            android:name=".manager.customer.AdminCustomerUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".manager.customer.AdminCustomerAddActivity"
            android:exported="false" />
        <activity
            android:name=".manager.food.ManagerFoodAddActivity"
            android:exported="false" />
        <activity
            android:name=".manager.food.ManagerFoodUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".manager.food.ManagerFoodViewDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".manager.ManagerUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".manager.food.ManagerFoodViewAllActivity"
            android:exported="false" />
        <activity
            android:name=".manager.ManagerMenuActivity"
            android:exported="false" />
        <activity
            android:name=".manager.ManagerLoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>